## SQL/Pandas - Practice 
**Here are some SELECT statements. We truncate results with LIMIT, and filter them with WHERE. We use DISTINCT to remove duplicated results.**

|                      SQL                     |                 Pandas                |
|:--------------------------------------------:|:-------------------------------------:|
| select * from airports                       | airports                              |
| select * from airports limit 3               | airports.head(3)                      |
| select id from airports where ident = 'KLAX' | airports[airports.ident == 'KLAX'].id |
| select distinct type from airport            | airports.type.unique()                |

In [45]:
import pandas as pd

airports = pd.read_csv('/Users/will4856/Downloads/airports.csv')
freq = pd.read_csv('/Users/will4856/Downloads/airport-frequencies.csv')
runways = pd.read_csv('/Users/will4856/Downloads/runways.csv')

import sqlite3
conn = sqlite3.connect('airports.csv')
c = conn.cursor()
runways.head()

,id,airport_ref,airport_ident,length_ft,width_ft,surface,lighted,closed,le_ident,le_latitude_deg,le_longitude_deg,le_elevation_ft,le_heading_degT,le_displaced_threshold_ft,he_ident,he_latitude_deg,he_longitude_deg,he_elevation_ft,he_heading_degT,he_displaced_threshold_ft
0,269408,6523,00A,80.0,80.0,ASPH-G,1,0,H1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,255155,6524,00AK,2500.0,70.0,GRVL,0,0,N,NaN,NaN,NaN,NaN,NaN,S,NaN,NaN,NaN,NaN,NaN
2,254165,6525,00AL,2300.0,200.0,TURF,0,0,01,NaN,NaN,NaN,NaN,NaN,19,NaN,NaN,NaN,NaN,NaN
3,270932,6526,00AR,40.0,40.0,GRASS,0,0,H1,NaN,NaN,NaN,NaN,NaN,H1,NaN,NaN,NaN,NaN,NaN
4,322128,322127,00AS,1450.0,60.0,Turf,0,0,1,NaN,NaN,NaN,NaN,NaN,19,NaN,NaN,NaN,NaN,NaN

In [25]:
freq.head()

,id,airport_ref,airport_ident,type,description,frequency_mhz
0,70518,6528,00CA,CTAF,CTAF,122.9
1,307581,6589,01FL,ARCAL,NaN,122.9
2,75239,6589,01FL,CTAF,CEDAR KNOLL TRAFFIC,122.8
3,60191,6756,04CA,CTAF,CTAF,122.9
4,59287,6779,04MS,UNIC,UNICOM,122.8

In [26]:
airports.head()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,Bensalem,no,00A,NaN,00A,NaN,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.949200,-151.695999,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN,NaN,NaN
4,6526,00AR,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,NaN,US,US-AR,Newport,no,NaN,NaN,NaN,NaN,NaN,00AR

## Question 1: Selecting with multiple conditions 
**Select all airports that are of the 'seaplane_base' type in the 'US-CA' region. Do this in SQL and Pandas.**

In [38]:
c.execute("""
SELECT *
FROM airports.csv
WHERE type = 'seaplane_base' AND iso_region = 'US-CA';
""")
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df.head()

OperationalError: no such table: airports.csv

In [42]:
airports[(airports['type'] == 'seaplane_base') & (airports['iso_region'] == 'US-CA')]

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
980,7436,0O0,seaplane_base,San Luis Reservoir Seaplane Base,37.058300,-121.125999,544.0,NaN,US,US-CA,Los Banos,no,0O0,NaN,0O0,NaN,NaN,NaN
2499,8877,22CA,seaplane_base,Commodore Center Seaplane Base,37.879902,-122.514000,NaN,NaN,US,US-CA,Sausalito,no,22CA,NaN,22CA,NaN,NaN,NaN
6265,12298,5CA9,seaplane_base,Konocti - Clear Lake Seaplane Base,38.977699,-122.718002,1326.0,NaN,US,US-CA,Kelseyville,no,5CA9,NaN,5CA9,NaN,NaN,NaN
13116,16514,C39,seaplane_base,Folsom Lake Seaplane Base,38.707199,-121.133003,466.0,NaN,US,US-CA,Folsom,no,C39,NaN,C39,NaN,NaN,NaN
15452,16830,CN20,seaplane_base,Ferndale Resort Seaplane Base,39.002998,-122.796997,1326.0,NaN,US,US-CA,Kelseyville,no,CN20,NaN,CN20,NaN,NaN,NaN
17837,17157,E20,seaplane_base,Lake Berryessa Seaplane Base,38.591599,-122.259003,440.0,NaN,US,US-CA,Napa,no,E20,NaN,E20,NaN,NaN,NaN
23224,17613,H77,seaplane_base,Bridge Bay Resort Seaplane Base,40.757599,-122.322998,1065.0,NaN,US,US-CA,Redding,no,H77,NaN,H77,NaN,NaN,NaN
30996,21444,L11,seaplane_base,Pebbly Beach Seaplane Base,33.338402,-118.311996,NaN,NaN,US,US-CA,Avalon,no,KL11,NaN,L11,NaN,NaN,NaN
37730,23479,O06,seaplane_base,Lake Oroville Landing Area Seaplane Base,39.566601,-121.468002,900.0,NaN,US,US-CA,Oroville,no,O06,NaN,O06,NaN,NaN,NaN
41418,24384,S74,seaplane_base,Lost Isle Seaplane Base,38.004101,-121.457001,NaN,NaN,US,US-CA,Stockton,no,S74,NaN,S74,NaN,NaN,NaN
48882,300312,TWH,seaplane_base,Two Harbors Amphibious Terminal,33.432222,-118.508611,NaN,NaN,US,US-CA,Two Harbors,no,NaN,TWH,NaN,NaN,NaN,NaN

## Question 2: Order By 
**Select all from airport-frequency where airport_indent = 'KLAX' and put in descending order. Do this in SQL and Pandas.**

## Question 3: In - Not In 
**Select all from airports where type is in 'heliport' and 'balloonport'. Also, do the opposite, instead of in - do not in.**

## Question 4: Group By
**Select 'iso_country' and 'type' from airports, then group by these columns AND order by these columns. You might want to look up the difference between SQL and Pandas for the method count().**

In [44]:
airports.groupby(['iso_country', 'type']).count()

                             id  ident  name  latitude_deg  longitude_deg  \
iso_country type
AD          heliport          2      2     2             2              2
AE          closed            1      1     1             1              1
            heliport         21     21    21            21             21
            large_airport     4      4     4             4              4
            medium_airport    7      7     7             7              7
...                         ...    ...   ...           ...            ...
ZM          small_airport    94     94    94            94             94
ZW          closed            2      2     2             2              2
            large_airport     1      1     1             1              1
            medium_airport    8      8     8             8              8
            small_airport   128    128   128           128            128

                            elevation_ft  continent  iso_region  municipality  \
iso_country type
AD          heliport                   1          2           2             2
AE          closed                     0          1           1             0
            heliport                   2         21          21             8
            large_airport              4          4           4             4
            medium_airport             7          7           7             3
...                                  ...        ...         ...           ...
ZM          small_airport             70         94          94            89
ZW          closed                     2          2           2             2
            large_airport              1          1           1             1
            medium_airport             8          8           8             8
            small_airport             86        128         128            95

                            scheduled_service  gps_code  iata_code  \
iso_country type
AD          heliport                        2         0          1
AE          closed                          1         1          0
            heliport                       21         0          0
            large_airport                   4         4          4
            medium_airport                  7         7          7
...                                       ...       ...        ...
ZM          small_airport                  94        67         15
ZW          closed                          2         0          0
            large_airport                   1         1          1
            medium_airport                  8         8          7
            small_airport                 128        86          5

                            local_code  home_link  wikipedia_link  keywords
iso_country type
AD          heliport                 0          0               1         0
AE          closed                   0          0               0         0
            heliport                 0          2               1         0
            large_airport            0          2               4         1
            medium_airport           1          1               6         0
...                                ...        ...             ...       ...
ZM          small_airport            0          1               5         2
ZW          closed                   0          0               0         0
            large_airport            0          0               1         1
            medium_airport           0          0               3         1
            small_airport            2          0               3         5

[846 rows x 16 columns]

## Question 5: Join 

**(INNER) JOIN:** Returns records that have matching values in both tables<br>
**LEFT (OUTER) JOIN:** Returns all records from the left table, and the matched records from the right table<br>
**RIGHT (OUTER) JOIN:** Returns all records from the right table, and the matched records from the left table<br>
**FULL (OUTER) JOIN:** Returns all records when there is a match in either left or right table

![](https://i.pinimg.com/originals/bc/0c/8b/bc0c8ba4d12051502a68bade9bba4bc5.png)

**How can we join all 3 of our dfs? In SQL and Pandas.**

In [53]:
df_join = pd.concat([airports, freq, runways], axis = 1)
df_join.head()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,...,le_longitude_deg,le_elevation_ft,le_heading_degT,le_displaced_threshold_ft,he_ident,he_latitude_deg,he_longitude_deg,he_elevation_ft,he_heading_degT,he_displaced_threshold_ft
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,...,NaN,NaN,NaN,NaN,S,NaN,NaN,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.949200,-151.695999,450.0,NaN,US,US-AK,...,NaN,NaN,NaN,NaN,19,NaN,NaN,NaN,NaN,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,...,NaN,NaN,NaN,NaN,H1,NaN,NaN,NaN,NaN,NaN
4,6526,00AR,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,NaN,US,US-AR,...,NaN,NaN,NaN,NaN,19,NaN,NaN,NaN,NaN,NaN